{% extends 'base.html.twig' %}

{% block title %}Edit Player{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Edit Player</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ include('player/_form.html.twig', {'button_label': 'Update', 'is_update': true}) }}
            </div>
        </div>                

        <div class="row">
            <div class="col-12">
                <a href="{{ path('player_index') }}"><- Back to List</a>
            </div>
        </div>                
        
{% endblock %}
