{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create New Player</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">        
                {{ include('player/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">        
                <a  href="{{ path('player_index') }}"><- Back to List</a>
            </div>
        </div>
{% endblock %}
