{% extends 'base.html.twig' %}

{% block extra_js %}
        {{ encore_entry_link_tags('jquery.collections') }}
        {{ encore_entry_script_tags('jquery.collections') }}   
{% endblock %}

{% block body %}

    <div class="row">
        {%
            form_theme form
                'jquery.collection.html.twig'
                'gameplayers-theme.html.twig'
        %}
        {{ form(form) }}
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.players-collection').collection({
                'drag_drop_options': {
                    'placeholder': null
                }
            });
        });
    </script>

{% endblock %}