{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Create new Game</h1>

        
        <div id="row">
            <div class ="col-11">
                {{ include('game/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('game_index') }}"><- Back to List</a>
    </div>
{% endblock %}
