body {
  background-color: #F0F0C3;
}


// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


text {
  font-family: sans-serif;
}

.bar {
  fill: cornflowerblue;
}

.axis--x path {
  display: none;
}


.red{
  fill:#ff3300 !important;
}

.green{
  fill:#79f304 !important;
}

.blue{
  fill:#0936fb !important;
}

.black{
  fill:#303134 !important;
}

.white{
  fill:#cfd1db !important;
}

div.tooltip-bars {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12px;
}

.pie-chart-table, .bar-chart-table{
  display:none;
}

.visualization{
  display:block;
  float:left;
}