


// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";


.container{
    max-width: 90%;
}



text {
  font-family: sans-serif;
}

.bar {
  fill: cornflowerblue;
}

.axis--x path {
  display: none;
}


.red{
  fill:#ff3300 !important;
}

.green{
  fill:#79f304 !important;
}

.blue{
  fill:#0936fb !important;
}

.black{
  fill:#303134 !important;
}

.white{
  fill:#cfd1db !important;
}

div.tooltip-bars, div.tooltip-pie {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12px;
}

.pie-chart-table, .bar-chart-table{
  display:none;
  clear:both;
}

.data-table-control{
  display:block;
  float:left;
  margin-left:15px; 
}

.visualization{
  display:block;
  float:left;
}

.visualization .graph-title{
  font-size:24px; 
}

.graph-btns{
  margin-bottom:25px;
}


#form_container{
  margin-left:25px;
}

.form-field{
  width:150px;
  margin-top:20px;
}

.form-field input{
  margin-left:20px;
}


.GameType_GamePlayers-collection-action{
  display:contents;
  font-size:24px;
}

.text-center{
  letter-spacing:24px;
}

.col-md-3{
  display:block;
  float:left;
  margin:10px 50px 20px 0px;
  border:1px solid gray;
  padding:10px;
  min-width:300px;
}

#GameType_save{
  float:left;
  clear:both;
}