


// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
//@import "~bootstrap/scss/bootstrap"; 

@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";


.container{
    max-width: 80%;
}


.navbar-nav li{
  padding:25px;
  border-radius:0px;
}

.navbar-nav li a{
  color:white;
}

h1{
  margin-bottom:20px;
}

form{
  margin-bottom: 25px;
}

.form-control{
  margin-bottom:10px;
}

.delete-btn button{
  float:right;
}

text {
  font-family: sans-serif;
}

.bar {
  fill: cornflowerblue;
}

.axis--x path {
  display: none;
}


.red{
  fill:#ff3300 !important;
}

.green{
  fill:#79f304 !important;
}

.blue{
  fill:#0936fb !important;
}

.black{
  fill:#303134 !important;
}

.white{
  fill:#cfd1db !important;
}

.azorius{
  fill:#c7f1ff !important;
}

.dimir{
  fill:#0a2145 !important;
}

.rakdos{
  fill:#571406 !important;
}

.gruul{
  fill:#b37709 !important;
}

.selesnya{
  fill:#b9e6b8 !important;
}

.orzhov{
  fill:#4b5251 !important;
}

.izzet{
  fill:#68237d !important;
}

.golgari{
  fill:#113d1f !important;
}

.boros{
  fill:#e8aeb2 !important;
}

.simic{
  fill:#26ada4 !important;
}

.jund{
  fill:#7a8a41 !important;
}

.bant{
  fill:#6df7e0 !important;
}

.grixis{
  fill:#381454 !important;
}

.naya{
  fill:#ebf2d3 !important;
}

.esper{
  fill:#4d5496 !important;
}

.jeskai{
  fill:#e9d0f7 !important;
}

.mardu{
  fill:#634e4e !important;
}

.sultai {
  fill:#2c615c !important;
}

.ketria{
  fill:#245b91 !important;
}

.abzan{
  fill:#5f7361 !important;
}

.non-white{
  fill:black !important;
}

.non-blue{
  fill:red !important;
}

.non-black{
  fill:#d4d6d5 !important;
}

.non-red{
  fill:blue !important;
}

.non-green{
  fill:orangered !important;
}

.chart-placeholder{
  height:550px;
}

.data-table-btn{
  margin-left:5px;
}

.data-table{
  margin:50px 20% 0px 20%;
  max-width:60%
}

.data-table td, th{
  text-align:center;
}

div.tooltip-bars, div.tooltip-pie {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12px;
}

.pie-chart-table, .bar-chart-table{
  display:none;
  clear:both; 
}

.data-table-control{
  display:block;
  float:left;
  margin-left:15px; 
}

.visualization{
  display:block;
  float:left;
}

.visualization .graph-title{
  font-size:24px; 
}

.graph-btns{
  margin-bottom:25px;
}


#form_container{
  margin-left:25px;
}

.form-field{
  width:150px;
  margin-top:20px;
}

.form-field input{
  margin-left:20px;
}


.GameType_GamePlayers-collection-action{
  display:contents;
  font-size:24px;
}

.text-center{
  letter-spacing:24px;
}

.col-md-3{
  display:block;
  float:left;
  margin:10px 50px 20px 0px;
  border:1px solid gray;
  padding:10px;
  min-width:300px;
}

#GameType_save{
  float:left;
  clear:both;
}