{% extends 'base.html.twig' %}

{% block title %}Edit Commander{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Edit Commander</h1>
        <div class = "row">
            <div class = "col-8">
                {{ include('commander/_form.html.twig', {'button_label': 'Update', 'is_update': true}) }}
            </div>
        </div>

        <a href="{{ path('commander_index') }}"><- Back to List</a>
    </div>
{% endblock %}
