{% extends 'base.html.twig' %}

{% block title %}New Commander{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Create New Commander</h1>

        {{ include('commander/_form.html.twig') }}

        <a href="{{ path('commander_index') }}"><- Back to List</a>
    </div>
{% endblock %}
