<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
       
        
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
     
        {% block extra_js %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MTG Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="btn align-middle btn-primary"><a href="/">Home</a></li>
                    <li class="btn align-middle btn-primary"><a href="/player">Players</a></li>
                    <li class="btn align-middle btn-primary"><a href="/deck">Decks</a></li>
                    <li class="btn align-middle btn-primary"><a href="/commander">Commanders</a></li>
                    <li class="btn align-middle btn-primary"><a href="/game">Games</a></li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
