<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('build/jquery-3.5.1.js') }}"></script>
        <script src="{{ asset('build/custom.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
