{% extends 'base.html.twig' %}

{% block title %}Edit Deck{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Edit Deck</h1>
        <div class = "row">
            <div class = "col-6">
                {{ include('deck/_form.html.twig', {'button_label': 'Update',  'is_update': true}) }}
            </div>
        </div>

        <a href="{{ path('deck_index') }}"><- Back to List</a>

        
    </div>
{% endblock %}
